body {
  color: black;
  background-color: #FFEAA9  
}
nav {text-align: center}
h1 {
  color: #FBDD92;
  background-color: #9D0000;
  text-align: center;
  line-height: 200%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 25px;
  margin: 25px;
  border-style: dotted;
  border-color: #FBDD92;
  border-width: 6px
}
main{margin: 40px}
h2{color: #9D0000}
footer{
  color: black ;
  background-color: #FBDD92;
  text-align: center;
  padding: 15px;
  margin: 25px;
}